.header li{
    
        display : inline-flex;
        font-size :large;
        padding: 10px;
        border : 4px solid black;
        border-radius : 10px;  
        z-index: 1;
    
}
ul.header{
    margin-left: -30px;
}
p.small, p.medium, .mobile{
    display: none;
}
h3{
    text-shadow: 1px 1px 2px rgb(255, 0, 102);
}
h4{
    text-shadow: 3px 3px 3px orange;
}
h3.heading{
    text-align: center;
}
section{
    box-shadow:5px 5px 5px grey;
}

body{
    background-color : lightblue;
    color : red;
}
a{
    text-decoration: none;
}
a.sub{
    color : white;
}
a:link{
    color :none;
}
a:hover{
    color: rgb(8, 59, 153);
    text-decoration: none;
}
a:visited{
    color : rgb(131, 10, 30); 
}
a:active{
    color: red;
}
button.submit-buttons{
    color : white;
    background-color : rgb(0, 153, 153);
    padding :10px;
    border : 2px black solid;
    border-radius : 2px;
    margin-top : 3px;
    box-shadow : 2px 4px 0px 0px #fff;
    border-radius: 4px;
    transition: all 0.1s;
    opacity: 1.0;
}
button.entry{
    margin-top: 0px;
}
.submit-buttons a:visited{
    color: white;
}
button.submit-buttons:active{
    box-shadow: 0px 0px 0px 0px #000;
}
button.submit-buttons:hover{
    opacity: 0.6;
}
.entry button{
    float : middle ;
}
ul{
    list-style-type: none;
}
div.footer{
    margin-top: 50%;
    border-top: 2px solid black;
    color: black;
    font-size: small;
}
div.container{
    text-align: center;
}
p.left{
    float: left;
}
p.right{
    float: right;
}
.entry a{
    color: white;
}
section.entry{
    background-color : rgb(51, 51, 153);
    color:rgb(255, 255, 153);
    border : 2px solid rgb(255, 255, 204);
    display:inline-block; 
    padding: 30px 30px 30px 30px;
    margin: 0 auto 0 auto;
}
form.left{
    text-align: left;
}
img.home-img{
    opacity : 0.8;
    width: 100%;
    
    margin-bottom: -50%;
}
.side-nav-bar li{
    border-bottom: 2px solid black;
    border-bottom-width: 100%;
    padding: 10px 0 0 10px;
    margin-left:-25%;
}
div.side-nav-bar{
    text-align:left;
    width: auto;
    height: auto;
    display:inline-flexbox;
    background-color:rgb(255, 204, 153);
    border : 3px solid brown;
    padding-left: -5%;
    float: right;
    position: absolute;
    top: 250px;
    right: 10px;
    box-shadow: 5px 5px 5px rgb(119, 111, 111);
}
.drop-down-content{
    display:none;
}
.drop-down:hover .drop-down-content{
    display: initial;
} 
a.left{
    float: left;
    font-size: smaller;
}
a.right{
    float: right;
    font-size: smaller;
}
img.logo{    
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section.update-forms{
    background-color:rgb(0, 153, 255);
    padding: 20px 0 20px 20px;
    margin-bottom: -40%;
    color: white;
    width: 90%;
    box-shadow: 5px 5px 5px 5px grey;
}
div.profile-content{
    margin-right: 20%;
}
.profile-content h3{
    text-align: left;
}

h6.user{
    text-align: right;
    margin-top: 10px;
}

/*header*/

img.profile{
    position: absolute;
    top: 50px;
    right:5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
h6.user{
    margin-right: 60px;
    font-size: 8px;
}

@media screen and (max-width: 930px){
    .desktop{
        display: none;
    }
    section.update-forms{
        width: 120%;
        margin-top: -10px;
    }
    .mobile{
        display: inline-block;
    }
}

@media screen and (min-width: 906px){
    img.profile{
        position:absolute;
        top: 5px;
        right:5px;
        width: 100px;
        height: auto;
        border-radius: 0px;
    }
    h6.user{
        font-size: 15px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 905px) and (min-width: 841px){
    img.profile{
        position:absolute;
        top: 30px;
        right:3px;
        width: 80px;
        height: auto;
        border-radius: 0px;
    }
    h6.user{
        font-size: 12px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 840px) and (min-width: 681px){
    img.profile{
        position:absolute;
        top: 60px;
        right:5px;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-bottom: 30px;
    }
    h6.user{
        margin-right: 80px;
        font-size: 10px;
    }
}

@media screen and (max-width: 680px){
    .heading,.header, h4{
        font-size: 20px;
    }
    body{
        font-size: 15px;
    }
    span button.submit-buttons{
        font-size: 10px;
    }
    .header li{
        padding: 7px;
    }
    button.entry{
        padding: 7px;
    }
}

@media screen and (max-width: 565px){
    .heading,.header, h4{
        font-size: 15px;
    }
    body{
        font-size: 10px;
    }
    .header li{
        padding: 4px;
    }
    button.entry{
        padding: 5px;
    }
}

@media screen and (max-width: 440px){
    .heading,.header, h4{
        font-size: 10px;
    }
    body{
        font-size: 10px;
    }
    .header li{
        padding: 2px;
    }
    img.profile{
        position:absolute;
        top: 45px;
        right:5px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 370px){
    .heading,.header, h4{
        font-size: 10px;
    }
    body{
        font-size: 8px;
    }
    .header li{
        padding: 1px;
    }
}

/*footer*/
@media screen and (max-width: 930px){
    .footer p{
        font-size: 12px;
    }
}

@media screen and (max-width: 855px){
    .footer p{
        font-size: 10px;
    }
}

@media screen and (max-width: 710px){
    .footer p.large{
        display: none;
    }
    .footer p.medium{
        display: initial;
    }
}

@media screen and (max-width: 540px){
    .footer p.medium{
        display: none;
    }
    .footer p.small{
        display: initial;
    }
}

@media screen and (max-width: 370px){
    .footer p{
        display: initial;
        font-size: 8px;
    }
}